<%- include("partials/header"); %>


<form action="/" method="post">
    <input type="text" name="category" id="category">
    <button type="submit" id="btn">start</button>
</form>

<%- include("partials/footer"); %>